testing/integration/projects/workflow-services/BasicDataService/schema/BasicDataService/2.0_edu.duke.cabig.rproteomics.model.statml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by Patrick Alan McConnell (Duke University) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Patrick Alan McConnell (Duke University) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://RProteomics.caBIG/2.0/edu.duke.cabig.rproteomics.model.statml" targetNamespace="gme://RProteomics.caBIG/2.0/edu.duke.cabig.rproteomics.model.statml" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complexType name="dataType">
    <xs:annotation>
      <xs:documentation>The root element contains any number of lists, arrays, and values</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="list" type="listType">
        <xs:annotation>
          <xs:documentation>A list contains any number of lists, arrays, scalars, or nulls.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="array" type="arrayType">
        <xs:annotation>
          <xs:documentation>A non-ragged array of scalar values.  The array must be homogenous in type.  The values must be encoded in base64.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scalar" type="scalarType">
        <xs:annotation>
          <xs:documentation>A single value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="null" type="nullType">
        <xs:annotation>
          <xs:documentation>The lack of a value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="object" type="objectType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="listType">
    <xs:annotation>
      <xs:documentation>A list contains any number of lists, arrays, and values</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="context" type="listType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Any number of values that contain language-specific information about a list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="list" type="listType">
          <xs:annotation>
            <xs:documentation>A list contains any number of lists, arrays, scalars, or nulls.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="array" type="arrayType">
          <xs:annotation>
            <xs:documentation>A non-ragged array of scalar values.  The array must be homogenous in type.  The values must be encoded in base64.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="scalar" type="scalarType">
          <xs:annotation>
            <xs:documentation>A single value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="null" type="nullType">
          <xs:annotation>
            <xs:documentation>The lack of a value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="object" type="objectType" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="nameType" use="optional">
      <xs:annotation>
        <xs:documentation>The name of the list.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" type="lengthType" use="required">
      <xs:annotation>
        <xs:documentation>The number of items (elements) in the list.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="scalarTypeType" use="optional">
      <xs:annotation>
        <xs:documentation>If this list is contains all scalars of the same type, that type is repeated here.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="arrayType">
    <xs:annotation>
      <xs:documentation>A non-ragged array of scalar values.  The array must be homogenous in type.  The values must be encoded in base64.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="nameType" use="optional">
          <xs:annotation>
            <xs:documentation>The name of the array</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="arrayTypeType" use="required">
          <xs:annotation>
            <xs:documentation>The type of all the values.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dimensions" type="dimensionsType" use="required">
          <xs:annotation>
            <xs:documentation>A comma-delimited integer list of the dimensions of the array.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="scalarType">
    <xs:annotation>
      <xs:documentation>A single value, encoded in the XML</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="nameType" use="optional">
          <xs:annotation>
            <xs:documentation>The name of the scalar value</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="scalarTypeType" use="required">
          <xs:annotation>
            <xs:documentation>The data type of the scalar value</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="objectType">
    <xs:annotation>
      <xs:documentation>An instance of a class, which encodes data representing something in the real world</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attribute" type="attributeType">
        <xs:annotation>
          <xs:documentation>A data field in an object</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="nameType" use="optional">
      <xs:annotation>
        <xs:documentation>The name of the object</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="class" type="classType" use="required">
      <xs:annotation>
        <xs:documentation>The name of the class that an object is the instance of</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="attributeType">
    <xs:annotation>
      <xs:documentation>A data field in an object</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="list" type="listType">
        <xs:annotation>
          <xs:documentation>A list contains any number of lists, arrays, and values</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scalar" type="scalarType">
        <xs:annotation>
          <xs:documentation>A single value, encoded in the XML</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="null" type="nullType">
        <xs:annotation>
          <xs:documentation>A null value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="object" type="objectType">
        <xs:annotation>
          <xs:documentation>An instance of a class, which encodes data representing something in the real world</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="array" type="arrayType">
        <xs:annotation>
          <xs:documentation>A non-ragged array of scalar values.  The array must be homogenous in type.  The values must be encoded in base64.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="name" type="nameType" use="required">
      <xs:annotation>
        <xs:documentation>The name of the attribute</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="nullType">
    <xs:annotation>
      <xs:documentation>A null value</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lengthType">
    <xs:annotation>
      <xs:documentation>The number of elements</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:simpleType name="nameType">
    <xs:annotation>
      <xs:documentation>The textual name of a value</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="arrayTypeType">
    <xs:annotation>
      <xs:documentation>Enumeration of available data types for an array</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="long" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="short" />
      <xs:enumeration value="double" />
      <xs:enumeration value="float" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dimensionsType">
    <xs:annotation>
      <xs:documentation>A comma-delimited list of dimensions</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="scalarTypeType">
    <xs:annotation>
      <xs:documentation>Enumeration of available data types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="double" />
      <xs:enumeration value="float" />
      <xs:enumeration value="long" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="short" />
      <xs:enumeration value="boolean" />
      <xs:enumeration value="character" />
      <xs:enumeration value="string" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="classType">
    <xs:annotation>
      <xs:documentation>The name of the class that an object is the instance of</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="Data" type="dataType" />
  <xs:element name="Scalar" type="scalarType" />
  <xs:element name="Array" type="arrayType" />
  <xs:element name="List" type="listType" />
  <xs:element name="Null" type="nullType" />
</xs:schema>

