caGrid/projects/dorian/schema/Dorian/AuthenticationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://authentication.gaards.cagrid.org/AuthenticationService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns2="http://cagrid.nci.nih.gov/AuthenticationService" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns1="http://gaards.cagrid.org/authentication-faults" xmlns:ns5="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ns4="http://www.w3.org/2000/09/xmldsig#" xmlns:ns8="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns3="http://cagrid.nci.nih.gov/1/authentication-service" xmlns:ns0="http://gaards.cagrid.org/authentication" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns6="http://authentication.gaards.cagrid.org/AuthenticationService/types" xmlns:ns2="http://cagrid.nci.nih.gov/AuthenticationService/types" name="AuthenticationService" targetNamespace="http://authentication.gaards.cagrid.org/AuthenticationService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://cagrid.nci.nih.gov/AuthenticationService" location="./AuthenticationServiceDeprecated.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://authentication.gaards.cagrid.org/AuthenticationService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://gaards.cagrid.org/authentication-faults" schemaLocation="./authentication-faults.xsd" />
      <import namespace="urn:oasis:names:tc:SAML:1.0:assertion" schemaLocation="./cs-sstc-schema-assertion-1.1.xsd" />
      <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="./xmldsig-core-schema.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/authentication-service" schemaLocation="./authentication-service.xsd" />
      <import namespace="http://gaards.cagrid.org/authentication" schemaLocation="./authentication-core-types.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://authentication.gaards.cagrid.org/AuthenticationService/types" schemaLocation="./AuthenticationServiceTypes.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/AuthenticationService/types" schemaLocation="./AuthenticationServiceTypesDeprecated.xsd" />
      <element name="AuthenticateUserRequest">
        <complexType>
          <sequence>
            <element name="credential">
              <complexType>
                <sequence>
                  <element ref="ns0:Credential" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AuthenticateUserResponse">
        <complexType>
          <sequence>
            <element ref="ns5:Assertion" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="AuthenticationServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns8:ServiceMetadata" />
            <element ref="ns0:AuthenticationProfiles" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="AuthenticateUserRequest">
    <part name="parameters" element="tns:AuthenticateUserRequest" />
  </message>
  <message name="AuthenticateUserResponse">
    <part name="parameters" element="tns:AuthenticateUserResponse" />
  </message>
  <message name="AuthenticationProviderFaultFaultMessage">
    <part name="fault" element="ns1:AuthenticationProviderFault" />
  </message>
  <message name="CredentialNotSupportedFaultFaultMessage">
    <part name="fault" element="ns1:CredentialNotSupportedFault" />
  </message>
  <message name="InsufficientAttributeFaultFaultMessage">
    <part name="fault" element="ns1:InsufficientAttributeFault" />
  </message>
  <message name="InvalidCredentialFaultFaultMessage">
    <part name="fault" element="ns1:InvalidCredentialFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="AuthenticationServicePortType" wsrp:ResourceProperties="tns:AuthenticationServiceResourceProperties">
    <operation name="authenticateUser">
      <input message="tns:AuthenticateUserRequest" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/AuthenticateUserRequest" />
      <output message="tns:AuthenticateUserResponse" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/AuthenticateUserResponse" />
      <fault name="AuthenticationProviderFault" message="tns:AuthenticationProviderFaultFaultMessage" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/AuthenticationProviderFaultFaultMessage" />
      <fault name="CredentialNotSupportedFault" message="tns:CredentialNotSupportedFaultFaultMessage" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/CredentialNotSupportedFaultFaultMessage" />
      <fault name="InsufficientAttributeFault" message="tns:InsufficientAttributeFaultFaultMessage" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/InsufficientAttributeFaultFaultMessage" />
      <fault name="InvalidCredentialFault" message="tns:InvalidCredentialFaultFaultMessage" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/InvalidCredentialFaultFaultMessage" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <operation name="authenticate">
      <input message="wns2:AuthenticateRequest" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/AuthenticateRequest" />
      <output message="wns2:AuthenticateResponse" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/AuthenticateResponse" />
      <fault name="InvalidCredentialFault" message="wns2:InvalidCredentialFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/InvalidCredentialFaultFaultMessage" />
      <fault name="InsufficientAttributeFault" message="wns2:InsufficientAttributeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/InsufficientAttributeFaultFaultMessage" />
      <fault name="AuthenticationProviderFault" message="wns2:AuthenticationProviderFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/AuthenticationProviderFaultFaultMessage" />
    </operation>
  </portType>
</definitions>

