caGrid/projects/dorian/schema/Dorian/Dorian.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cagrid.nci.nih.gov/Dorian" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://cagrid.nci.nih.gov/AuthenticationService" xmlns:wns2="http://authentication.gaards.cagrid.org/AuthenticationService" xmlns:wns3="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns12="http://cagrid.nci.nih.gov/Dorian/types" xmlns:ns10="http://gaards.cagrid.org/authentication-faults" xmlns:ns8="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns1="http://cagrid.nci.nih.gov/1/dorian-ifs" xmlns:ns5="http://gaards.cagrid.org/authentication" xmlns:ns7="http://cagrid.nci.nih.gov/1/authentication-service" xmlns:ns9="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns2="http://cagrid.nci.nih.gov/1/dorian-common" xmlns:ns6="http://cagrid.nci.nih.gov/AuthenticationService/types" xmlns:ns13="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ns3="http://www.w3.org/2000/09/xmldsig#" xmlns:ns11="http://authentication.gaards.cagrid.org/AuthenticationService/types" xmlns:ns0="http://cagrid.nci.nih.gov/1/dorian-policy" xmlns:ns4="http://cagrid.nci.nih.gov/1/dorian-idp" name="Dorian" targetNamespace="http://cagrid.nci.nih.gov/Dorian">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://cagrid.nci.nih.gov/AuthenticationService" location="././AuthenticationServiceDeprecated.wsdl" />
  <import namespace="http://authentication.gaards.cagrid.org/AuthenticationService" location="././AuthenticationService.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://cagrid.nci.nih.gov/Dorian" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/Dorian/types" schemaLocation="./DorianTypes.xsd" />
      <import namespace="http://gaards.cagrid.org/authentication-faults" schemaLocation="./authentication-faults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/dorian-ifs" schemaLocation="./dorian-ifs.xsd" />
      <import namespace="http://gaards.cagrid.org/authentication" schemaLocation="./authentication-core-types.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/authentication-service" schemaLocation="./authentication-service.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/dorian-common" schemaLocation="./dorian-common.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/AuthenticationService/types" schemaLocation="./AuthenticationServiceTypesDeprecated.xsd" />
      <import namespace="urn:oasis:names:tc:SAML:1.0:assertion" schemaLocation="./cs-sstc-schema-assertion-1.1.xsd" />
      <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="./xmldsig-core-schema.xsd" />
      <import namespace="http://authentication.gaards.cagrid.org/AuthenticationService/types" schemaLocation="./AuthenticationServiceTypes.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/dorian-policy" schemaLocation="./dorian-policy.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/dorian-idp" schemaLocation="./dorian-idp.xsd" />
      <element name="RegisterWithIdPRequest">
        <complexType>
          <sequence>
            <element name="application">
              <complexType>
                <sequence>
                  <element ref="ns4:Application" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RegisterWithIdPResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="FindLocalUsersRequest">
        <complexType>
          <sequence>
            <element name="f">
              <complexType>
                <sequence>
                  <element ref="ns4:LocalUserFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="FindLocalUsersResponse">
        <complexType>
          <sequence>
            <element ref="ns4:LocalUser" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateLocalUserRequest">
        <complexType>
          <sequence>
            <element name="user">
              <complexType>
                <sequence>
                  <element ref="ns4:LocalUser" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateLocalUserResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RemoveLocalUserRequest">
        <complexType>
          <sequence>
            <element name="userId" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveLocalUserResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CreateProxyRequest">
        <complexType>
          <sequence>
            <element name="saml">
              <complexType>
                <sequence>
                  <element ref="ns2:SAMLAssertion" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="publicKey">
              <complexType>
                <sequence>
                  <element ref="ns1:PublicKey" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="lifetime">
              <complexType>
                <sequence>
                  <element ref="ns1:ProxyLifetime" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="delegation">
              <complexType>
                <sequence>
                  <element ref="ns1:DelegationPathLength" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateProxyResponse">
        <complexType>
          <sequence>
            <element ref="ns2:X509Certificate" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCACertificateRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetCACertificateResponse">
        <complexType>
          <sequence>
            <element ref="ns2:X509Certificate" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetTrustedIdPsRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetTrustedIdPsResponse">
        <complexType>
          <sequence>
            <element ref="ns1:TrustedIdP" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="AddTrustedIdPRequest">
        <complexType>
          <sequence>
            <element name="idp">
              <complexType>
                <sequence>
                  <element ref="ns1:TrustedIdP" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AddTrustedIdPResponse">
        <complexType>
          <sequence>
            <element ref="ns1:TrustedIdP" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateTrustedIdPRequest">
        <complexType>
          <sequence>
            <element name="trustedIdP">
              <complexType>
                <sequence>
                  <element ref="ns1:TrustedIdP" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateTrustedIdPResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RemoveTrustedIdPRequest">
        <complexType>
          <sequence>
            <element name="trustedIdP">
              <complexType>
                <sequence>
                  <element ref="ns1:TrustedIdP" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RemoveTrustedIdPResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FindGridUsersRequest">
        <complexType>
          <sequence>
            <element name="filter">
              <complexType>
                <sequence>
                  <element ref="ns1:GridUserFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="FindGridUsersResponse">
        <complexType>
          <sequence>
            <element ref="ns1:GridUser" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateGridUserRequest">
        <complexType>
          <sequence>
            <element name="user">
              <complexType>
                <sequence>
                  <element ref="ns1:GridUser" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateGridUserResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RemoveGridUserRequest">
        <complexType>
          <sequence>
            <element name="user">
              <complexType>
                <sequence>
                  <element ref="ns1:GridUser" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RemoveGridUserResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetGridUserPoliciesRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetGridUserPoliciesResponse">
        <complexType>
          <sequence>
            <element ref="ns1:GridUserPolicy" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="AddAdminRequest">
        <complexType>
          <sequence>
            <element name="gridIdentity" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="AddAdminResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RemoveAdminRequest">
        <complexType>
          <sequence>
            <element name="gridIdentity" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveAdminResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetAdminsRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetAdminsResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="RequestHostCertificateRequest">
        <complexType>
          <sequence>
            <element name="req">
              <complexType>
                <sequence>
                  <element ref="ns1:HostCertificateRequest" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHostCertificateResponse">
        <complexType>
          <sequence>
            <element ref="ns1:HostCertificateRecord" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOwnedHostCertificatesRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetOwnedHostCertificatesResponse">
        <complexType>
          <sequence>
            <element ref="ns1:HostCertificateRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="ApproveHostCertificateRequest">
        <complexType>
          <sequence>
            <element name="recordId" type="xs:integer" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ApproveHostCertificateResponse">
        <complexType>
          <sequence>
            <element ref="ns1:HostCertificateRecord" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="FindHostCertificatesRequest">
        <complexType>
          <sequence>
            <element name="hostCertificateFilter">
              <complexType>
                <sequence>
                  <element ref="ns1:HostCertificateFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="FindHostCertificatesResponse">
        <complexType>
          <sequence>
            <element ref="ns1:HostCertificateRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateHostCertificateRecordRequest">
        <complexType>
          <sequence>
            <element name="hostCertificateUpdate">
              <complexType>
                <sequence>
                  <element ref="ns1:HostCertificateUpdate" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateHostCertificateRecordResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RenewHostCertificateRequest">
        <complexType>
          <sequence>
            <element name="recordId" type="xs:integer" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RenewHostCertificateResponse">
        <complexType>
          <sequence>
            <element ref="ns1:HostCertificateRecord" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ChangeIdPUserPasswordRequest">
        <complexType>
          <sequence>
            <element name="credential">
              <complexType>
                <sequence>
                  <element ref="ns4:BasicAuthCredential" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="newPassword" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ChangeIdPUserPasswordResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DoesLocalUserExistRequest">
        <complexType>
          <sequence>
            <element name="userId" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="DoesLocalUserExistResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ChangeLocalUserPasswordRequest">
        <complexType>
          <sequence>
            <element name="credential">
              <complexType>
                <sequence>
                  <element ref="ns5:BasicAuthentication" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="newPassword" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ChangeLocalUserPasswordResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdateUserCertificateRequest">
        <complexType>
          <sequence>
            <element name="update">
              <complexType>
                <sequence>
                  <element ref="ns1:UserCertificateUpdate" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateUserCertificateResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RequestUserCertificateRequest">
        <complexType>
          <sequence>
            <element name="saml">
              <complexType>
                <sequence>
                  <element ref="ns13:Assertion" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="key">
              <complexType>
                <sequence>
                  <element ref="ns1:PublicKey" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="lifetime">
              <complexType>
                <sequence>
                  <element ref="ns1:CertificateLifetime" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RequestUserCertificateResponse">
        <complexType>
          <sequence>
            <element ref="ns2:X509Certificate" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="FindUserCertificatesRequest">
        <complexType>
          <sequence>
            <element name="userCertificateFilter">
              <complexType>
                <sequence>
                  <element ref="ns1:UserCertificateFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="FindUserCertificatesResponse">
        <complexType>
          <sequence>
            <element ref="ns1:UserCertificateRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveUserCertificateRequest">
        <complexType>
          <sequence>
            <element name="serialNumber" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveUserCertificateResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="PerformFederationAuditRequest">
        <complexType>
          <sequence>
            <element name="f">
              <complexType>
                <sequence>
                  <element ref="ns1:FederationAuditFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="PerformFederationAuditResponse">
        <complexType>
          <sequence>
            <element ref="ns1:FederationAuditRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="PerformIdentityProviderAuditRequest">
        <complexType>
          <sequence>
            <element name="f">
              <complexType>
                <sequence>
                  <element ref="ns4:IdentityProviderAuditFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="PerformIdentityProviderAuditResponse">
        <complexType>
          <sequence>
            <element ref="ns4:IdentityProviderAuditRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="RegisterLocalUserRequest">
        <complexType>
          <sequence>
            <element name="a">
              <complexType>
                <sequence>
                  <element ref="ns4:Application" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RegisterLocalUserResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UserSearchRequest">
        <complexType>
          <sequence>
            <element name="gridUserSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns1:GridUserSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UserSearchResponse">
        <complexType>
          <sequence>
            <element ref="ns1:GridUserRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="HostSearchRequest">
        <complexType>
          <sequence>
            <element name="hostSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns1:HostSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="HostSearchResponse">
        <complexType>
          <sequence>
            <element ref="ns1:HostRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="DorianResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns8:ServiceMetadata" />
            <element ref="ns5:AuthenticationProfiles" />
            <element ref="ns1:TrustedIdentityProviders" />
            <element ref="ns0:DorianPolicy" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="RegisterWithIdPRequest">
    <part name="parameters" element="tns:RegisterWithIdPRequest" />
  </message>
  <message name="RegisterWithIdPResponse">
    <part name="parameters" element="tns:RegisterWithIdPResponse" />
  </message>
  <message name="FindLocalUsersRequest">
    <part name="parameters" element="tns:FindLocalUsersRequest" />
  </message>
  <message name="FindLocalUsersResponse">
    <part name="parameters" element="tns:FindLocalUsersResponse" />
  </message>
  <message name="UpdateLocalUserRequest">
    <part name="parameters" element="tns:UpdateLocalUserRequest" />
  </message>
  <message name="UpdateLocalUserResponse">
    <part name="parameters" element="tns:UpdateLocalUserResponse" />
  </message>
  <message name="RemoveLocalUserRequest">
    <part name="parameters" element="tns:RemoveLocalUserRequest" />
  </message>
  <message name="RemoveLocalUserResponse">
    <part name="parameters" element="tns:RemoveLocalUserResponse" />
  </message>
  <message name="CreateProxyRequest">
    <part name="parameters" element="tns:CreateProxyRequest" />
  </message>
  <message name="CreateProxyResponse">
    <part name="parameters" element="tns:CreateProxyResponse" />
  </message>
  <message name="GetCACertificateRequest">
    <part name="parameters" element="tns:GetCACertificateRequest" />
  </message>
  <message name="GetCACertificateResponse">
    <part name="parameters" element="tns:GetCACertificateResponse" />
  </message>
  <message name="GetTrustedIdPsRequest">
    <part name="parameters" element="tns:GetTrustedIdPsRequest" />
  </message>
  <message name="GetTrustedIdPsResponse">
    <part name="parameters" element="tns:GetTrustedIdPsResponse" />
  </message>
  <message name="AddTrustedIdPRequest">
    <part name="parameters" element="tns:AddTrustedIdPRequest" />
  </message>
  <message name="AddTrustedIdPResponse">
    <part name="parameters" element="tns:AddTrustedIdPResponse" />
  </message>
  <message name="UpdateTrustedIdPRequest">
    <part name="parameters" element="tns:UpdateTrustedIdPRequest" />
  </message>
  <message name="UpdateTrustedIdPResponse">
    <part name="parameters" element="tns:UpdateTrustedIdPResponse" />
  </message>
  <message name="RemoveTrustedIdPRequest">
    <part name="parameters" element="tns:RemoveTrustedIdPRequest" />
  </message>
  <message name="RemoveTrustedIdPResponse">
    <part name="parameters" element="tns:RemoveTrustedIdPResponse" />
  </message>
  <message name="FindGridUsersRequest">
    <part name="parameters" element="tns:FindGridUsersRequest" />
  </message>
  <message name="FindGridUsersResponse">
    <part name="parameters" element="tns:FindGridUsersResponse" />
  </message>
  <message name="UpdateGridUserRequest">
    <part name="parameters" element="tns:UpdateGridUserRequest" />
  </message>
  <message name="UpdateGridUserResponse">
    <part name="parameters" element="tns:UpdateGridUserResponse" />
  </message>
  <message name="RemoveGridUserRequest">
    <part name="parameters" element="tns:RemoveGridUserRequest" />
  </message>
  <message name="RemoveGridUserResponse">
    <part name="parameters" element="tns:RemoveGridUserResponse" />
  </message>
  <message name="GetGridUserPoliciesRequest">
    <part name="parameters" element="tns:GetGridUserPoliciesRequest" />
  </message>
  <message name="GetGridUserPoliciesResponse">
    <part name="parameters" element="tns:GetGridUserPoliciesResponse" />
  </message>
  <message name="AddAdminRequest">
    <part name="parameters" element="tns:AddAdminRequest" />
  </message>
  <message name="AddAdminResponse">
    <part name="parameters" element="tns:AddAdminResponse" />
  </message>
  <message name="RemoveAdminRequest">
    <part name="parameters" element="tns:RemoveAdminRequest" />
  </message>
  <message name="RemoveAdminResponse">
    <part name="parameters" element="tns:RemoveAdminResponse" />
  </message>
  <message name="GetAdminsRequest">
    <part name="parameters" element="tns:GetAdminsRequest" />
  </message>
  <message name="GetAdminsResponse">
    <part name="parameters" element="tns:GetAdminsResponse" />
  </message>
  <message name="RequestHostCertificateRequest">
    <part name="parameters" element="tns:RequestHostCertificateRequest" />
  </message>
  <message name="RequestHostCertificateResponse">
    <part name="parameters" element="tns:RequestHostCertificateResponse" />
  </message>
  <message name="GetOwnedHostCertificatesRequest">
    <part name="parameters" element="tns:GetOwnedHostCertificatesRequest" />
  </message>
  <message name="GetOwnedHostCertificatesResponse">
    <part name="parameters" element="tns:GetOwnedHostCertificatesResponse" />
  </message>
  <message name="ApproveHostCertificateRequest">
    <part name="parameters" element="tns:ApproveHostCertificateRequest" />
  </message>
  <message name="ApproveHostCertificateResponse">
    <part name="parameters" element="tns:ApproveHostCertificateResponse" />
  </message>
  <message name="FindHostCertificatesRequest">
    <part name="parameters" element="tns:FindHostCertificatesRequest" />
  </message>
  <message name="FindHostCertificatesResponse">
    <part name="parameters" element="tns:FindHostCertificatesResponse" />
  </message>
  <message name="UpdateHostCertificateRecordRequest">
    <part name="parameters" element="tns:UpdateHostCertificateRecordRequest" />
  </message>
  <message name="UpdateHostCertificateRecordResponse">
    <part name="parameters" element="tns:UpdateHostCertificateRecordResponse" />
  </message>
  <message name="RenewHostCertificateRequest">
    <part name="parameters" element="tns:RenewHostCertificateRequest" />
  </message>
  <message name="RenewHostCertificateResponse">
    <part name="parameters" element="tns:RenewHostCertificateResponse" />
  </message>
  <message name="ChangeIdPUserPasswordRequest">
    <part name="parameters" element="tns:ChangeIdPUserPasswordRequest" />
  </message>
  <message name="ChangeIdPUserPasswordResponse">
    <part name="parameters" element="tns:ChangeIdPUserPasswordResponse" />
  </message>
  <message name="DoesLocalUserExistRequest">
    <part name="parameters" element="tns:DoesLocalUserExistRequest" />
  </message>
  <message name="DoesLocalUserExistResponse">
    <part name="parameters" element="tns:DoesLocalUserExistResponse" />
  </message>
  <message name="ChangeLocalUserPasswordRequest">
    <part name="parameters" element="tns:ChangeLocalUserPasswordRequest" />
  </message>
  <message name="ChangeLocalUserPasswordResponse">
    <part name="parameters" element="tns:ChangeLocalUserPasswordResponse" />
  </message>
  <message name="UpdateUserCertificateRequest">
    <part name="parameters" element="tns:UpdateUserCertificateRequest" />
  </message>
  <message name="UpdateUserCertificateResponse">
    <part name="parameters" element="tns:UpdateUserCertificateResponse" />
  </message>
  <message name="RequestUserCertificateRequest">
    <part name="parameters" element="tns:RequestUserCertificateRequest" />
  </message>
  <message name="RequestUserCertificateResponse">
    <part name="parameters" element="tns:RequestUserCertificateResponse" />
  </message>
  <message name="FindUserCertificatesRequest">
    <part name="parameters" element="tns:FindUserCertificatesRequest" />
  </message>
  <message name="FindUserCertificatesResponse">
    <part name="parameters" element="tns:FindUserCertificatesResponse" />
  </message>
  <message name="RemoveUserCertificateRequest">
    <part name="parameters" element="tns:RemoveUserCertificateRequest" />
  </message>
  <message name="RemoveUserCertificateResponse">
    <part name="parameters" element="tns:RemoveUserCertificateResponse" />
  </message>
  <message name="PerformFederationAuditRequest">
    <part name="parameters" element="tns:PerformFederationAuditRequest" />
  </message>
  <message name="PerformFederationAuditResponse">
    <part name="parameters" element="tns:PerformFederationAuditResponse" />
  </message>
  <message name="PerformIdentityProviderAuditRequest">
    <part name="parameters" element="tns:PerformIdentityProviderAuditRequest" />
  </message>
  <message name="PerformIdentityProviderAuditResponse">
    <part name="parameters" element="tns:PerformIdentityProviderAuditResponse" />
  </message>
  <message name="RegisterLocalUserRequest">
    <part name="parameters" element="tns:RegisterLocalUserRequest" />
  </message>
  <message name="RegisterLocalUserResponse">
    <part name="parameters" element="tns:RegisterLocalUserResponse" />
  </message>
  <message name="UserSearchRequest">
    <part name="parameters" element="tns:UserSearchRequest" />
  </message>
  <message name="UserSearchResponse">
    <part name="parameters" element="tns:UserSearchResponse" />
  </message>
  <message name="HostSearchRequest">
    <part name="parameters" element="tns:HostSearchRequest" />
  </message>
  <message name="HostSearchResponse">
    <part name="parameters" element="tns:HostSearchResponse" />
  </message>
  <message name="DorianInternalFaultFaultMessage">
    <part name="fault" element="ns12:DorianInternalFault" />
  </message>
  <message name="InvalidUserPropertyFaultFaultMessage">
    <part name="fault" element="ns12:InvalidUserPropertyFault" />
  </message>
  <message name="PermissionDeniedFaultFaultMessage">
    <part name="fault" element="ns12:PermissionDeniedFault" />
  </message>
  <message name="NoSuchUserFaultFaultMessage">
    <part name="fault" element="ns12:NoSuchUserFault" />
  </message>
  <message name="InvalidAssertionFaultFaultMessage">
    <part name="fault" element="ns12:InvalidAssertionFault" />
  </message>
  <message name="InvalidProxyFaultFaultMessage">
    <part name="fault" element="ns12:InvalidProxyFault" />
  </message>
  <message name="UserPolicyFaultFaultMessage">
    <part name="fault" element="ns12:UserPolicyFault" />
  </message>
  <message name="InvalidTrustedIdPFaultFaultMessage">
    <part name="fault" element="ns12:InvalidTrustedIdPFault" />
  </message>
  <message name="InvalidUserFaultFaultMessage">
    <part name="fault" element="ns12:InvalidUserFault" />
  </message>
  <message name="InvalidHostCertificateRequestFaultFaultMessage">
    <part name="fault" element="ns12:InvalidHostCertificateRequestFault" />
  </message>
  <message name="InvalidHostCertificateFaultFaultMessage">
    <part name="fault" element="ns12:InvalidHostCertificateFault" />
  </message>
  <message name="InvalidUserCertificateFaultFaultMessage">
    <part name="fault" element="ns12:InvalidUserCertificateFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="DorianPortType" wsrp:ResourceProperties="tns:DorianResourceProperties">
    <operation name="registerWithIdP">
      <input message="tns:RegisterWithIdPRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RegisterWithIdPRequest" />
      <output message="tns:RegisterWithIdPResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RegisterWithIdPResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidUserPropertyFault" message="tns:InvalidUserPropertyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserPropertyFaultFaultMessage" />
    </operation>
    <operation name="findLocalUsers">
      <input message="tns:FindLocalUsersRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/FindLocalUsersRequest" />
      <output message="tns:FindLocalUsersResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/FindLocalUsersResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="updateLocalUser">
      <input message="tns:UpdateLocalUserRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateLocalUserRequest" />
      <output message="tns:UpdateLocalUserResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateLocalUserResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="NoSuchUserFault" message="tns:NoSuchUserFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/NoSuchUserFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="removeLocalUser">
      <input message="tns:RemoveLocalUserRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveLocalUserRequest" />
      <output message="tns:RemoveLocalUserResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveLocalUserResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="createProxy">
      <input message="tns:CreateProxyRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/CreateProxyRequest" />
      <output message="tns:CreateProxyResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/CreateProxyResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidAssertionFault" message="tns:InvalidAssertionFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidAssertionFaultFaultMessage" />
      <fault name="InvalidProxyFault" message="tns:InvalidProxyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidProxyFaultFaultMessage" />
      <fault name="UserPolicyFault" message="tns:UserPolicyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UserPolicyFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="getCACertificate">
      <input message="tns:GetCACertificateRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetCACertificateRequest" />
      <output message="tns:GetCACertificateResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetCACertificateResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
    </operation>
    <operation name="getTrustedIdPs">
      <input message="tns:GetTrustedIdPsRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetTrustedIdPsRequest" />
      <output message="tns:GetTrustedIdPsResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetTrustedIdPsResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="addTrustedIdP">
      <input message="tns:AddTrustedIdPRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/AddTrustedIdPRequest" />
      <output message="tns:AddTrustedIdPResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/AddTrustedIdPResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidTrustedIdPFault" message="tns:InvalidTrustedIdPFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidTrustedIdPFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="updateTrustedIdP">
      <input message="tns:UpdateTrustedIdPRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateTrustedIdPRequest" />
      <output message="tns:UpdateTrustedIdPResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateTrustedIdPResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidTrustedIdPFault" message="tns:InvalidTrustedIdPFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidTrustedIdPFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="removeTrustedIdP">
      <input message="tns:RemoveTrustedIdPRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveTrustedIdPRequest" />
      <output message="tns:RemoveTrustedIdPResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveTrustedIdPResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidTrustedIdPFault" message="tns:InvalidTrustedIdPFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidTrustedIdPFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="findGridUsers">
      <input message="tns:FindGridUsersRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/FindGridUsersRequest" />
      <output message="tns:FindGridUsersResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/FindGridUsersResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="updateGridUser">
      <input message="tns:UpdateGridUserRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateGridUserRequest" />
      <output message="tns:UpdateGridUserResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateGridUserResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidUserFault" message="tns:InvalidUserFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="removeGridUser">
      <input message="tns:RemoveGridUserRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveGridUserRequest" />
      <output message="tns:RemoveGridUserResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveGridUserResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidUserFault" message="tns:InvalidUserFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="getGridUserPolicies">
      <input message="tns:GetGridUserPoliciesRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetGridUserPoliciesRequest" />
      <output message="tns:GetGridUserPoliciesResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetGridUserPoliciesResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="addAdmin">
      <input message="tns:AddAdminRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/AddAdminRequest" />
      <output message="tns:AddAdminResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/AddAdminResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="removeAdmin">
      <input message="tns:RemoveAdminRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveAdminRequest" />
      <output message="tns:RemoveAdminResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveAdminResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="getAdmins">
      <input message="tns:GetAdminsRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetAdminsRequest" />
      <output message="tns:GetAdminsResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetAdminsResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="requestHostCertificate">
      <input message="tns:RequestHostCertificateRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RequestHostCertificateRequest" />
      <output message="tns:RequestHostCertificateResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RequestHostCertificateResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidHostCertificateRequestFault" message="tns:InvalidHostCertificateRequestFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidHostCertificateRequestFaultFaultMessage" />
      <fault name="InvalidHostCertificateFault" message="tns:InvalidHostCertificateFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidHostCertificateFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="getOwnedHostCertificates">
      <input message="tns:GetOwnedHostCertificatesRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetOwnedHostCertificatesRequest" />
      <output message="tns:GetOwnedHostCertificatesResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/GetOwnedHostCertificatesResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="approveHostCertificate">
      <input message="tns:ApproveHostCertificateRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/ApproveHostCertificateRequest" />
      <output message="tns:ApproveHostCertificateResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/ApproveHostCertificateResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidHostCertificateFault" message="tns:InvalidHostCertificateFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidHostCertificateFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="findHostCertificates">
      <input message="tns:FindHostCertificatesRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/FindHostCertificatesRequest" />
      <output message="tns:FindHostCertificatesResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/FindHostCertificatesResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="updateHostCertificateRecord">
      <input message="tns:UpdateHostCertificateRecordRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateHostCertificateRecordRequest" />
      <output message="tns:UpdateHostCertificateRecordResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateHostCertificateRecordResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidHostCertificateFault" message="tns:InvalidHostCertificateFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidHostCertificateFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="renewHostCertificate">
      <input message="tns:RenewHostCertificateRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RenewHostCertificateRequest" />
      <output message="tns:RenewHostCertificateResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RenewHostCertificateResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidHostCertificateFault" message="tns:InvalidHostCertificateFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidHostCertificateFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="changeIdPUserPassword">
      <input message="tns:ChangeIdPUserPasswordRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/ChangeIdPUserPasswordRequest" />
      <output message="tns:ChangeIdPUserPasswordResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/ChangeIdPUserPasswordResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
      <fault name="InvalidUserPropertyFault" message="tns:InvalidUserPropertyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserPropertyFaultFaultMessage" />
    </operation>
    <operation name="doesLocalUserExist">
      <input message="tns:DoesLocalUserExistRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DoesLocalUserExistRequest" />
      <output message="tns:DoesLocalUserExistResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DoesLocalUserExistResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
    </operation>
    <operation name="changeLocalUserPassword">
      <input message="tns:ChangeLocalUserPasswordRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/ChangeLocalUserPasswordRequest" />
      <output message="tns:ChangeLocalUserPasswordResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/ChangeLocalUserPasswordResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidUserPropertyFault" message="tns:InvalidUserPropertyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserPropertyFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="updateUserCertificate">
      <input message="tns:UpdateUserCertificateRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateUserCertificateRequest" />
      <output message="tns:UpdateUserCertificateResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UpdateUserCertificateResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidUserCertificateFault" message="tns:InvalidUserCertificateFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserCertificateFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="requestUserCertificate">
      <input message="tns:RequestUserCertificateRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RequestUserCertificateRequest" />
      <output message="tns:RequestUserCertificateResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RequestUserCertificateResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidAssertionFault" message="tns:InvalidAssertionFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidAssertionFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
      <fault name="UserPolicyFault" message="tns:UserPolicyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UserPolicyFaultFaultMessage" />
    </operation>
    <operation name="findUserCertificates">
      <input message="tns:FindUserCertificatesRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/FindUserCertificatesRequest" />
      <output message="tns:FindUserCertificatesResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/FindUserCertificatesResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidUserCertificateFault" message="tns:InvalidUserCertificateFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserCertificateFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="removeUserCertificate">
      <input message="tns:RemoveUserCertificateRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveUserCertificateRequest" />
      <output message="tns:RemoveUserCertificateResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RemoveUserCertificateResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidUserCertificateFault" message="tns:InvalidUserCertificateFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserCertificateFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="performFederationAudit">
      <input message="tns:PerformFederationAuditRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PerformFederationAuditRequest" />
      <output message="tns:PerformFederationAuditResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PerformFederationAuditResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="performIdentityProviderAudit">
      <input message="tns:PerformIdentityProviderAuditRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PerformIdentityProviderAuditRequest" />
      <output message="tns:PerformIdentityProviderAuditResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PerformIdentityProviderAuditResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="registerLocalUser">
      <input message="tns:RegisterLocalUserRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RegisterLocalUserRequest" />
      <output message="tns:RegisterLocalUserResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/RegisterLocalUserResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="InvalidUserPropertyFault" message="tns:InvalidUserPropertyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/InvalidUserPropertyFaultFaultMessage" />
    </operation>
    <operation name="userSearch">
      <input message="tns:UserSearchRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UserSearchRequest" />
      <output message="tns:UserSearchResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/UserSearchResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="hostSearch">
      <input message="tns:HostSearchRequest" wsa:Action="http://cagrid.nci.nih.gov/Dorian/HostSearchRequest" />
      <output message="tns:HostSearchResponse" wsa:Action="http://cagrid.nci.nih.gov/Dorian/HostSearchResponse" />
      <fault name="DorianInternalFault" message="tns:DorianInternalFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/DorianInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/Dorian/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <operation name="authenticate">
      <input message="wns1:AuthenticateRequest" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/AuthenticateRequest" />
      <output message="wns1:AuthenticateResponse" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/AuthenticateResponse" />
      <fault name="InvalidCredentialFault" message="wns1:InvalidCredentialFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/InvalidCredentialFaultFaultMessage" />
      <fault name="InsufficientAttributeFault" message="wns1:InsufficientAttributeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/InsufficientAttributeFaultFaultMessage" />
      <fault name="AuthenticationProviderFault" message="wns1:AuthenticationProviderFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/AuthenticationService/AuthenticationProviderFaultFaultMessage" />
    </operation>
    <operation name="authenticateUser">
      <input message="wns2:AuthenticateUserRequest" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/AuthenticateUserRequest" />
      <output message="wns2:AuthenticateUserResponse" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/AuthenticateUserResponse" />
      <fault name="AuthenticationProviderFault" message="wns2:AuthenticationProviderFaultFaultMessage" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/AuthenticationProviderFaultFaultMessage" />
      <fault name="CredentialNotSupportedFault" message="wns2:CredentialNotSupportedFaultFaultMessage" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/CredentialNotSupportedFaultFaultMessage" />
      <fault name="InsufficientAttributeFault" message="wns2:InsufficientAttributeFaultFaultMessage" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/InsufficientAttributeFaultFaultMessage" />
      <fault name="InvalidCredentialFault" message="wns2:InvalidCredentialFaultFaultMessage" wsa:Action="http://authentication.gaards.cagrid.org/AuthenticationService/InvalidCredentialFaultFaultMessage" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
  </portType>
</definitions>

