caGrid/projects/dorian/schema/Dorian/dorian-idp.xsd

<xsd:schema targetNamespace="http://cagrid.nci.nih.gov/1/dorian-idp"
	attributeFormDefault="qualified" elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:idp="http://cagrid.nci.nih.gov/1/dorian-idp">
	<xsd:element name="LocalUser" type="idp:LocalUser" />
	<xsd:complexType name="LocalUser">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="email" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="password" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="firstName" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="lastName" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="organization" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="address" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="address2" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="city" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="state" type="idp:stateCode" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="zipcode" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="country" type="idp:countryCode"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="phoneNumber" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="status" type="idp:LocalUserStatus"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="role" type="idp:LocalUserRole"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="PasswordSecurity" type="idp:PasswordSecurity"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:element name="AccountProfile" type="idp:AccountProfile" />
	<xsd:complexType name="AccountProfile">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="email" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="firstName" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="lastName" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="organization" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="address" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="address2" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="city" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="state" type="idp:stateCode" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="zipcode" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="country" type="idp:countryCode"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="phoneNumber" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Application" type="idp:Application" />

	<xsd:complexType name="Application">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="email" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="password" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="firstName" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="lastName" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="organization" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="address" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="address2" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="city" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="state" type="idp:stateCode" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="zipcode" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="country" type="idp:countryCode"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="phoneNumber" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="LocalUserFilter" type="idp:LocalUserFilter" />

	<xsd:complexType name="LocalUserFilter">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="email" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="firstName" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="lastName" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="organization" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="address" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="address2" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="city" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="state" type="idp:stateCode" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="zipcode" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="country" type="idp:countryCode"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="phoneNumber" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="status" type="idp:LocalUserStatus"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="role" type="idp:LocalUserRole"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="LocalUserRole">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Administrator" />
			<xsd:enumeration value="Non_Administrator" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="LocalUserStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Active" />
			<xsd:enumeration value="Suspended" />
			<xsd:enumeration value="Pending" />
			<xsd:enumeration value="Rejected" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="PasswordSecurity">
		<xsd:sequence>
			<xsd:element name="ConsecutiveInvalidLogins" minOccurs="1"
				maxOccurs="1" type="xsd:long" />
			<xsd:element name="TotalInvalidLogins" minOccurs="1"
				maxOccurs="1" type="xsd:long" />
			<xsd:element name="LockoutExpiration" minOccurs="1"
				maxOccurs="1" type="xsd:long" />
			<xsd:element name="DigestSalt" minOccurs="1" maxOccurs="1"
				type="xsd:string" />
			<xsd:element name="DigestAlgorithm" minOccurs="1"
				maxOccurs="1" type="xsd:string" />
			<xsd:element name="PasswordStatus" minOccurs="1"
				maxOccurs="1" type="idp:PasswordStatus" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="PasswordStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Valid" />
			<xsd:enumeration value="Locked" />
			<xsd:enumeration value="LockedUntilChanged" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="BasicAuthCredential" type="idp:BasicAuthCredential" />

	<xsd:complexType name="BasicAuthCredential">
		<xsd:sequence>
			<xsd:element name="userId" minOccurs="1" maxOccurs="1"
				type="xsd:string" />
			<xsd:element name="password" minOccurs="1" maxOccurs="1"
				type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ApplicationReview" type="idp:ApplicationReview" />

	<xsd:complexType name="ApplicationReview">
		<xsd:sequence>
			<xsd:element name="userId" minOccurs="1" maxOccurs="1"
				type="xsd:string" />
			<xsd:element name="message" minOccurs="1" maxOccurs="1"
				type="xsd:string" />
			<xsd:element name="status" type="idp:LocalUserStatus"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="role" type="idp:LocalUserRole"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="stateCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Outside_US" />
			<xsd:enumeration value="AL" />
			<xsd:enumeration value="AK" />
			<xsd:enumeration value="AS" />
			<xsd:enumeration value="AZ" />
			<xsd:enumeration value="AR" />
			<xsd:enumeration value="CA" />
			<xsd:enumeration value="CO" />
			<xsd:enumeration value="CT" />
			<xsd:enumeration value="DE" />
			<xsd:enumeration value="DC" />
			<xsd:enumeration value="FM" />
			<xsd:enumeration value="FL" />
			<xsd:enumeration value="GA" />
			<xsd:enumeration value="GU" />
			<xsd:enumeration value="HI" />
			<xsd:enumeration value="ID" />
			<xsd:enumeration value="IL" />
			<xsd:enumeration value="IN" />
			<xsd:enumeration value="IA" />
			<xsd:enumeration value="KS" />
			<xsd:enumeration value="KY" />
			<xsd:enumeration value="LA" />
			<xsd:enumeration value="ME" />
			<xsd:enumeration value="MH" />
			<xsd:enumeration value="MD" />
			<xsd:enumeration value="MA" />
			<xsd:enumeration value="MI" />
			<xsd:enumeration value="MN" />
			<xsd:enumeration value="MS" />
			<xsd:enumeration value="MO" />
			<xsd:enumeration value="MT" />
			<xsd:enumeration value="NE" />
			<xsd:enumeration value="NV" />
			<xsd:enumeration value="NH" />
			<xsd:enumeration value="NJ" />
			<xsd:enumeration value="NM" />
			<xsd:enumeration value="NY" />
			<xsd:enumeration value="NC" />
			<xsd:enumeration value="ND" />
			<xsd:enumeration value="MP" />
			<xsd:enumeration value="OH" />
			<xsd:enumeration value="OK" />
			<xsd:enumeration value="OR" />
			<xsd:enumeration value="PA" />
			<xsd:enumeration value="PR" />
			<xsd:enumeration value="RI" />
			<xsd:enumeration value="SC" />
			<xsd:enumeration value="SD" />
			<xsd:enumeration value="TN" />
			<xsd:enumeration value="TX" />
			<xsd:enumeration value="UT" />
			<xsd:enumeration value="VT" />
			<xsd:enumeration value="VA" />
			<xsd:enumeration value="VI" />
			<xsd:enumeration value="WA" />
			<xsd:enumeration value="WV" />
			<xsd:enumeration value="WI" />
			<xsd:enumeration value="WY" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="countryCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AF" />
			<xsd:enumeration value="AL" />
			<xsd:enumeration value="DZ" />
			<xsd:enumeration value="AS" />
			<xsd:enumeration value="AD" />
			<xsd:enumeration value="AO" />
			<xsd:enumeration value="AI" />
			<xsd:enumeration value="AQ" />
			<xsd:enumeration value="AG" />
			<xsd:enumeration value="AR" />
			<xsd:enumeration value="AM" />
			<xsd:enumeration value="AW" />
			<xsd:enumeration value="AU" />
			<xsd:enumeration value="AT" />
			<xsd:enumeration value="AZ" />
			<xsd:enumeration value="BS" />
			<xsd:enumeration value="BH" />
			<xsd:enumeration value="BD" />
			<xsd:enumeration value="BB" />
			<xsd:enumeration value="BY" />
			<xsd:enumeration value="BE" />
			<xsd:enumeration value="BZ" />
			<xsd:enumeration value="BJ" />
			<xsd:enumeration value="BM" />
			<xsd:enumeration value="BT" />
			<xsd:enumeration value="BO" />
			<xsd:enumeration value="BA" />
			<xsd:enumeration value="BW" />
			<xsd:enumeration value="BV" />
			<xsd:enumeration value="BR" />
			<xsd:enumeration value="IO" />
			<xsd:enumeration value="BN" />
			<xsd:enumeration value="BG" />
			<xsd:enumeration value="BF" />
			<xsd:enumeration value="BI" />
			<xsd:enumeration value="KH" />
			<xsd:enumeration value="CM" />
			<xsd:enumeration value="CA" />
			<xsd:enumeration value="CV" />
			<xsd:enumeration value="KY" />
			<xsd:enumeration value="CF" />
			<xsd:enumeration value="TD" />
			<xsd:enumeration value="CL" />
			<xsd:enumeration value="CN" />
			<xsd:enumeration value="CX" />
			<xsd:enumeration value="CC" />
			<xsd:enumeration value="CO" />
			<xsd:enumeration value="KM" />
			<xsd:enumeration value="CG" />
			<xsd:enumeration value="CD" />
			<xsd:enumeration value="CK" />
			<xsd:enumeration value="CR" />
			<xsd:enumeration value="CI" />
			<xsd:enumeration value="HR" />
			<xsd:enumeration value="CU" />
			<xsd:enumeration value="CY" />
			<xsd:enumeration value="CZ" />
			<xsd:enumeration value="DK" />
			<xsd:enumeration value="DJ" />
			<xsd:enumeration value="DM" />
			<xsd:enumeration value="DO" />
			<xsd:enumeration value="TP" />
			<xsd:enumeration value="EC" />
			<xsd:enumeration value="EG" />
			<xsd:enumeration value="SV" />
			<xsd:enumeration value="GQ" />
			<xsd:enumeration value="ER" />
			<xsd:enumeration value="EE" />
			<xsd:enumeration value="ET" />
			<xsd:enumeration value="FK" />
			<xsd:enumeration value="FO" />
			<xsd:enumeration value="FJ" />
			<xsd:enumeration value="FI" />
			<xsd:enumeration value="FR" />
			<xsd:enumeration value="GF" />
			<xsd:enumeration value="PF" />
			<xsd:enumeration value="TF" />
			<xsd:enumeration value="GA" />
			<xsd:enumeration value="GM" />
			<xsd:enumeration value="GE" />
			<xsd:enumeration value="DE" />
			<xsd:enumeration value="GH" />
			<xsd:enumeration value="GI" />
			<xsd:enumeration value="GR" />
			<xsd:enumeration value="GL" />
			<xsd:enumeration value="GD" />
			<xsd:enumeration value="GP" />
			<xsd:enumeration value="GU" />
			<xsd:enumeration value="GT" />
			<xsd:enumeration value="GN" />
			<xsd:enumeration value="GW" />
			<xsd:enumeration value="GY" />
			<xsd:enumeration value="HT" />
			<xsd:enumeration value="HM" />
			<xsd:enumeration value="VA" />
			<xsd:enumeration value="HN" />
			<xsd:enumeration value="HK" />
			<xsd:enumeration value="HU" />
			<xsd:enumeration value="IS" />
			<xsd:enumeration value="IN" />
			<xsd:enumeration value="ID" />
			<xsd:enumeration value="IR" />
			<xsd:enumeration value="IQ" />
			<xsd:enumeration value="IE" />
			<xsd:enumeration value="IL" />
			<xsd:enumeration value="IT" />
			<xsd:enumeration value="JM" />
			<xsd:enumeration value="JP" />
			<xsd:enumeration value="JO" />
			<xsd:enumeration value="KZ" />
			<xsd:enumeration value="KE" />
			<xsd:enumeration value="KI" />
			<xsd:enumeration value="KP" />
			<xsd:enumeration value="KR" />
			<xsd:enumeration value="KW" />
			<xsd:enumeration value="KG" />
			<xsd:enumeration value="LA" />
			<xsd:enumeration value="LV" />
			<xsd:enumeration value="LB" />
			<xsd:enumeration value="LS" />
			<xsd:enumeration value="LR" />
			<xsd:enumeration value="LY" />
			<xsd:enumeration value="LI" />
			<xsd:enumeration value="LT" />
			<xsd:enumeration value="LU" />
			<xsd:enumeration value="MO" />
			<xsd:enumeration value="MK" />
			<xsd:enumeration value="MG" />
			<xsd:enumeration value="MW" />
			<xsd:enumeration value="MY" />
			<xsd:enumeration value="MV" />
			<xsd:enumeration value="ML" />
			<xsd:enumeration value="MT" />
			<xsd:enumeration value="MH" />
			<xsd:enumeration value="MQ" />
			<xsd:enumeration value="MR" />
			<xsd:enumeration value="MU" />
			<xsd:enumeration value="YT" />
			<xsd:enumeration value="MX" />
			<xsd:enumeration value="FM" />
			<xsd:enumeration value="MD" />
			<xsd:enumeration value="MC" />
			<xsd:enumeration value="MN" />
			<xsd:enumeration value="MS" />
			<xsd:enumeration value="MA" />
			<xsd:enumeration value="MZ" />
			<xsd:enumeration value="MM" />
			<xsd:enumeration value="NA" />
			<xsd:enumeration value="NR" />
			<xsd:enumeration value="NP" />
			<xsd:enumeration value="NL" />
			<xsd:enumeration value="AN" />
			<xsd:enumeration value="NC" />
			<xsd:enumeration value="NZ" />
			<xsd:enumeration value="NI" />
			<xsd:enumeration value="NE" />
			<xsd:enumeration value="NG" />
			<xsd:enumeration value="NU" />
			<xsd:enumeration value="NF" />
			<xsd:enumeration value="MP" />
			<xsd:enumeration value="NO" />
			<xsd:enumeration value="OM" />
			<xsd:enumeration value="PK" />
			<xsd:enumeration value="PW" />
			<xsd:enumeration value="PS" />
			<xsd:enumeration value="PA" />
			<xsd:enumeration value="PG" />
			<xsd:enumeration value="PY" />
			<xsd:enumeration value="PE" />
			<xsd:enumeration value="PH" />
			<xsd:enumeration value="PN" />
			<xsd:enumeration value="PL" />
			<xsd:enumeration value="PT" />
			<xsd:enumeration value="PR" />
			<xsd:enumeration value="QA" />
			<xsd:enumeration value="RE" />
			<xsd:enumeration value="RO" />
			<xsd:enumeration value="RU" />
			<xsd:enumeration value="RW" />
			<xsd:enumeration value="SH" />
			<xsd:enumeration value="KN" />
			<xsd:enumeration value="LC" />
			<xsd:enumeration value="PM" />
			<xsd:enumeration value="VC" />
			<xsd:enumeration value="WS" />
			<xsd:enumeration value="SM" />
			<xsd:enumeration value="ST" />
			<xsd:enumeration value="SA" />
			<xsd:enumeration value="SN" />
			<xsd:enumeration value="SC" />
			<xsd:enumeration value="SL" />
			<xsd:enumeration value="SG" />
			<xsd:enumeration value="SK" />
			<xsd:enumeration value="SI" />
			<xsd:enumeration value="SB" />
			<xsd:enumeration value="SO" />
			<xsd:enumeration value="ZA" />
			<xsd:enumeration value="GS" />
			<xsd:enumeration value="ES" />
			<xsd:enumeration value="LK" />
			<xsd:enumeration value="SD" />
			<xsd:enumeration value="SR" />
			<xsd:enumeration value="SJ" />
			<xsd:enumeration value="SZ" />
			<xsd:enumeration value="SE" />
			<xsd:enumeration value="CH" />
			<xsd:enumeration value="SY" />
			<xsd:enumeration value="TW" />
			<xsd:enumeration value="TJ" />
			<xsd:enumeration value="TZ" />
			<xsd:enumeration value="TH" />
			<xsd:enumeration value="TG" />
			<xsd:enumeration value="TK" />
			<xsd:enumeration value="TO" />
			<xsd:enumeration value="TT" />
			<xsd:enumeration value="TN" />
			<xsd:enumeration value="TR" />
			<xsd:enumeration value="TM" />
			<xsd:enumeration value="TC" />
			<xsd:enumeration value="TV" />
			<xsd:enumeration value="UG" />
			<xsd:enumeration value="UA" />
			<xsd:enumeration value="AE" />
			<xsd:enumeration value="GB" />
			<xsd:enumeration value="US" />
			<xsd:enumeration value="UM" />
			<xsd:enumeration value="UY" />
			<xsd:enumeration value="UZ" />
			<xsd:enumeration value="VU" />
			<xsd:enumeration value="VE" />
			<xsd:enumeration value="VN" />
			<xsd:enumeration value="VG" />
			<xsd:enumeration value="VI" />
			<xsd:enumeration value="WF" />
			<xsd:enumeration value="EH" />
			<xsd:enumeration value="YE" />
			<xsd:enumeration value="YU" />
			<xsd:enumeration value="ZM" />
			<xsd:enumeration value="ZW" />
		</xsd:restriction>
	</xsd:simpleType>

<xsd:element name="IdentityProviderAuditRecord" type="idp:IdentityProviderAuditRecord" />
	<xsd:complexType name="IdentityProviderAuditRecord">
		<xsd:sequence>
			<xsd:element name="TargetId" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="ReportingPartyId" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="AuditType" type="idp:IdentityProviderAudit"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="OccurredAt" type="xsd:dateTime"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="AuditMessage" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IdentityProviderAuditFilter" type="idp:IdentityProviderAuditFilter" />
	<xsd:complexType name="IdentityProviderAuditFilter">
		<xsd:sequence>
			<xsd:element name="TargetId" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="ReportingPartyId" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="AuditType" type="idp:IdentityProviderAudit"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="StartDate" type="xsd:dateTime"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="EndDate" type="xsd:dateTime"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="AuditMessage" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="IdentityProviderAudit" type="idp:IdentityProviderAudit" />
	<xsd:simpleType name="IdentityProviderAudit">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Registration" />
			<xsd:enumeration value="LocalAccountUpdated" />
			<xsd:enumeration value="LocalAccountRemoved" />
			<xsd:enumeration value="LocalAccountLocked" />
			<xsd:enumeration value="PasswordChanged" />
			<xsd:enumeration value="SuccessfulLogin" />
			<xsd:enumeration value="InvalidLogin" />
			<xsd:enumeration value="LocalAccessDenied" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>