caGrid/projects/authentication-service/schema/AuthenticationService/authentication-lockout-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://gaards.cagrid.org/authentication/lockout"
	attributeFormDefault="qualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:lo="http://gaards.cagrid.org/authentication/lockout">
	
	<xs:element name="LockedUserInfo" type="lo:LockedUserInfo"/>
	<xs:complexType name="LockedUserInfo">
		<xs:attribute name="userId" type="xs:string" use="required"/>
		<xs:attribute name="until" type="xs:dateTime" use="required"/>
	</xs:complexType>
</xs:schema>
