caGrid/projects/introduce/test/resources/schema/CommonServiceMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Scott Oster (BMI) --><!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Shannon Hastings (OSU Biomedical Informatics) --><!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><xs:schema targetNamespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:complexType name="CommonServiceMetadataType">		<xs:sequence>			<xs:element name="researchCenterInfo" type="ResearchCenterInfoType"/>		</xs:sequence>	</xs:complexType>	<xs:complexType name="ResearchCenterInfoType">		<xs:sequence>			<xs:element name="researchCenterBioDataType" type="xs:string"/>			<xs:element name="researchCenterName" type="xs:string"/>			<xs:element name="researchCenterType" type="xs:string"/>			<xs:element name="researchCenterAddress" type="xs:string"/>			<xs:element name="researchCenterPhone" type="xs:string"/>			<xs:element name="researchCenterFax" type="xs:string"/>			<xs:element name="researchCenterPOCName" type="xs:string"/>			<xs:element name="researchCenterDescription" type="xs:string"/>			<xs:element name="researchCenterComments" type="xs:string"/>		</xs:sequence>	</xs:complexType>	<xs:element name="CommonServiceMetadata" type="CommonServiceMetadataType"/></xs:schema>