caGrid/projects/globalModelExchange/test/resources/schema/redefine/Redefiner_nons.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="gme://redefinenons" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:a="gme://redefinenons" elementFormDefault="qualified">

	<xs:redefine schemaLocation="Redefined_nons.xsd">
		<xs:complexType name="pname">
			<xs:complexContent>
				<xs:extension base="a:pname">
					<xs:sequence>
						<xs:element name="country"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>

	<xs:element name="author" type="a:pname"/>
</xs:schema>
