caGrid/projects/globalModelExchange/test/resources/schema/redefine/Redefined.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="gme://redefine" xmlns:a="gme://redefine" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
    <xs:complexType name="pname">
        <xs:sequence>
            <xs:element name="firstname"/>
            <xs:element name="lastname"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="customer" type="a:pname"/>
</xs:schema>
