caGrid/projects/globalModelExchange/test/resources/schema/redefine/Redefined_nons.xsd

<!--
  Copyright The Ohio State University Research Foundation, The University of Chicago - 
Argonne National Laboratory, Emory University, SemanticBits LLC, and Ekagra Software Technologies Ltd.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/cagrid-core/LICENSE.txt for details.
-->
<?xml version="1.0"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
    <xs:complexType name="pname">
        <xs:sequence>
            <xs:element name="firstname"/>
            <xs:element name="lastname"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="customer" type="pname"/>
</xs:schema>
