caGrid/projects/bulkDataTransfer/schema/BulkDataHandler/transfer.xsd

<?xml version="1.0" ?>
<!-- Based off ws-transfer specification -->
<xs:schema
	targetNamespace="http://www.globus.org/transfer"
	xmlns:tns="http://www.globus.org/transfer" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified"
	blockDefault="#all" >

	<xs:element name="Empty" type="tns:emptyType"/>
	<xs:element name="AnyXml" type="tns:AnyXmlType"/>
	
    <xs:complexType name="emptyType"/>

	<xs:complexType name="AnyXmlType" >
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>