caGrid/projects/cds/schema/CredentialDelegationService/CredentialDelegationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cds.gaards.cagrid.org/CredentialDelegationService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns0="http://gaards.cagrid.org/cds" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns4="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/types" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://cds.gaards.cagrid.org/CredentialDelegationService/types" name="CredentialDelegationService" targetNamespace="http://cds.gaards.cagrid.org/CredentialDelegationService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://cds.gaards.cagrid.org/CredentialDelegationService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://gaards.cagrid.org/cds" schemaLocation="./credential-delegation-service.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/types" schemaLocation="./DelegatedCredentialTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://cds.gaards.cagrid.org/CredentialDelegationService/types" schemaLocation="./CredentialDelegationServiceTypes.xsd" />
      <element name="InitiateDelegationRequest">
        <complexType>
          <sequence>
            <element name="req">
              <complexType>
                <sequence>
                  <element ref="ns0:DelegationRequest" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="InitiateDelegationResponse">
        <complexType>
          <sequence>
            <element ref="ns0:DelegationSigningRequest" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ApproveDelegationRequest">
        <complexType>
          <sequence>
            <element name="delegationSigningResponse">
              <complexType>
                <sequence>
                  <element ref="ns0:DelegationSigningResponse" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ApproveDelegationResponse">
        <complexType>
          <sequence>
            <element ref="ns4:DelegatedCredentialReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="FindDelegatedCredentialsRequest">
        <complexType>
          <sequence>
            <element name="filter">
              <complexType>
                <sequence>
                  <element ref="ns0:DelegationRecordFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="FindDelegatedCredentialsResponse">
        <complexType>
          <sequence>
            <element ref="ns0:DelegationRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateDelegatedCredentialStatusRequest">
        <complexType>
          <sequence>
            <element name="id">
              <complexType>
                <sequence>
                  <element ref="ns0:DelegationIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="status">
              <complexType>
                <sequence>
                  <element ref="ns0:DelegationStatus" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateDelegatedCredentialStatusResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FindCredentialsDelegatedToClientRequest">
        <complexType>
          <sequence>
            <element name="filter">
              <complexType>
                <sequence>
                  <element ref="ns0:ClientDelegationFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="FindCredentialsDelegatedToClientResponse">
        <complexType>
          <sequence>
            <element ref="ns0:DelegationDescriptor" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchDelegatedCredentialAuditLogRequest">
        <complexType>
          <sequence>
            <element name="f">
              <complexType>
                <sequence>
                  <element ref="ns0:DelegatedCredentialAuditFilter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchDelegatedCredentialAuditLogResponse">
        <complexType>
          <sequence>
            <element ref="ns0:DelegatedCredentialAuditRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteDelegatedCredentialRequest">
        <complexType>
          <sequence>
            <element name="id">
              <complexType>
                <sequence>
                  <element ref="ns0:DelegationIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DeleteDelegatedCredentialResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="AddAdminRequest">
        <complexType>
          <sequence>
            <element name="gridIdentity" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="AddAdminResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RemoveAdminRequest">
        <complexType>
          <sequence>
            <element name="gridIdentity" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveAdminResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetAdminsRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetAdminsResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="CredentialDelegationServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns3:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="InitiateDelegationRequest">
    <part name="parameters" element="tns:InitiateDelegationRequest" />
  </message>
  <message name="InitiateDelegationResponse">
    <part name="parameters" element="tns:InitiateDelegationResponse" />
  </message>
  <message name="ApproveDelegationRequest">
    <part name="parameters" element="tns:ApproveDelegationRequest" />
  </message>
  <message name="ApproveDelegationResponse">
    <part name="parameters" element="tns:ApproveDelegationResponse" />
  </message>
  <message name="FindDelegatedCredentialsRequest">
    <part name="parameters" element="tns:FindDelegatedCredentialsRequest" />
  </message>
  <message name="FindDelegatedCredentialsResponse">
    <part name="parameters" element="tns:FindDelegatedCredentialsResponse" />
  </message>
  <message name="UpdateDelegatedCredentialStatusRequest">
    <part name="parameters" element="tns:UpdateDelegatedCredentialStatusRequest" />
  </message>
  <message name="UpdateDelegatedCredentialStatusResponse">
    <part name="parameters" element="tns:UpdateDelegatedCredentialStatusResponse" />
  </message>
  <message name="FindCredentialsDelegatedToClientRequest">
    <part name="parameters" element="tns:FindCredentialsDelegatedToClientRequest" />
  </message>
  <message name="FindCredentialsDelegatedToClientResponse">
    <part name="parameters" element="tns:FindCredentialsDelegatedToClientResponse" />
  </message>
  <message name="SearchDelegatedCredentialAuditLogRequest">
    <part name="parameters" element="tns:SearchDelegatedCredentialAuditLogRequest" />
  </message>
  <message name="SearchDelegatedCredentialAuditLogResponse">
    <part name="parameters" element="tns:SearchDelegatedCredentialAuditLogResponse" />
  </message>
  <message name="DeleteDelegatedCredentialRequest">
    <part name="parameters" element="tns:DeleteDelegatedCredentialRequest" />
  </message>
  <message name="DeleteDelegatedCredentialResponse">
    <part name="parameters" element="tns:DeleteDelegatedCredentialResponse" />
  </message>
  <message name="AddAdminRequest">
    <part name="parameters" element="tns:AddAdminRequest" />
  </message>
  <message name="AddAdminResponse">
    <part name="parameters" element="tns:AddAdminResponse" />
  </message>
  <message name="RemoveAdminRequest">
    <part name="parameters" element="tns:RemoveAdminRequest" />
  </message>
  <message name="RemoveAdminResponse">
    <part name="parameters" element="tns:RemoveAdminResponse" />
  </message>
  <message name="GetAdminsRequest">
    <part name="parameters" element="tns:GetAdminsRequest" />
  </message>
  <message name="GetAdminsResponse">
    <part name="parameters" element="tns:GetAdminsResponse" />
  </message>
  <message name="CDSInternalFaultFaultMessage">
    <part name="fault" element="ns1:CDSInternalFault" />
  </message>
  <message name="InvalidPolicyFaultFaultMessage">
    <part name="fault" element="ns1:InvalidPolicyFault" />
  </message>
  <message name="DelegationFaultFaultMessage">
    <part name="fault" element="ns1:DelegationFault" />
  </message>
  <message name="PermissionDeniedFaultFaultMessage">
    <part name="fault" element="ns1:PermissionDeniedFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="CredentialDelegationServicePortType" wsrp:ResourceProperties="tns:CredentialDelegationServiceResourceProperties">
    <operation name="initiateDelegation">
      <input message="tns:InitiateDelegationRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/InitiateDelegationRequest" />
      <output message="tns:InitiateDelegationResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/InitiateDelegationResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="InvalidPolicyFault" message="tns:InvalidPolicyFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/InvalidPolicyFaultFaultMessage" />
      <fault name="DelegationFault" message="tns:DelegationFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegationFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="approveDelegation">
      <input message="tns:ApproveDelegationRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/ApproveDelegationRequest" />
      <output message="tns:ApproveDelegationResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/ApproveDelegationResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="DelegationFault" message="tns:DelegationFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegationFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="findDelegatedCredentials">
      <input message="tns:FindDelegatedCredentialsRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/FindDelegatedCredentialsRequest" />
      <output message="tns:FindDelegatedCredentialsResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/FindDelegatedCredentialsResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="updateDelegatedCredentialStatus">
      <input message="tns:UpdateDelegatedCredentialStatusRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/UpdateDelegatedCredentialStatusRequest" />
      <output message="tns:UpdateDelegatedCredentialStatusResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/UpdateDelegatedCredentialStatusResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="DelegationFault" message="tns:DelegationFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegationFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="findCredentialsDelegatedToClient">
      <input message="tns:FindCredentialsDelegatedToClientRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/FindCredentialsDelegatedToClientRequest" />
      <output message="tns:FindCredentialsDelegatedToClientResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/FindCredentialsDelegatedToClientResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="searchDelegatedCredentialAuditLog">
      <input message="tns:SearchDelegatedCredentialAuditLogRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/SearchDelegatedCredentialAuditLogRequest" />
      <output message="tns:SearchDelegatedCredentialAuditLogResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/SearchDelegatedCredentialAuditLogResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
      <fault name="DelegationFault" message="tns:DelegationFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegationFaultFaultMessage" />
    </operation>
    <operation name="deleteDelegatedCredential">
      <input message="tns:DeleteDelegatedCredentialRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DeleteDelegatedCredentialRequest" />
      <output message="tns:DeleteDelegatedCredentialResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DeleteDelegatedCredentialResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="addAdmin">
      <input message="tns:AddAdminRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/AddAdminRequest" />
      <output message="tns:AddAdminResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/AddAdminResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="removeAdmin">
      <input message="tns:RemoveAdminRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/RemoveAdminRequest" />
      <output message="tns:RemoveAdminResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/RemoveAdminResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="getAdmins">
      <input message="tns:GetAdminsRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/GetAdminsRequest" />
      <output message="tns:GetAdminsResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/GetAdminsResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/CDSInternalFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/PermissionDeniedFaultFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
  </portType>
</definitions>

