caGrid/projects/cds/schema/CredentialDelegationService/DelegatedCredential.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns0="http://gaards.cagrid.org/cds" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns4="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/types" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://cds.gaards.cagrid.org/CredentialDelegationService/types" name="DelegatedCredential" targetNamespace="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./WS-ResourceLifetime.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://gaards.cagrid.org/cds" schemaLocation="./credential-delegation-service.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/types" schemaLocation="./DelegatedCredentialTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://cds.gaards.cagrid.org/CredentialDelegationService/types" schemaLocation="./CredentialDelegationServiceTypes.xsd" />
      <element name="GetDelegatedCredentialRequest">
        <complexType>
          <sequence>
            <element name="publicKey">
              <complexType>
                <sequence>
                  <element ref="ns0:PublicKey" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetDelegatedCredentialResponse">
        <complexType>
          <sequence>
            <element ref="ns0:CertificateChain" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="DelegatedCredentialResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetDelegatedCredentialRequest">
    <part name="parameters" element="tns:GetDelegatedCredentialRequest" />
  </message>
  <message name="GetDelegatedCredentialResponse">
    <part name="parameters" element="tns:GetDelegatedCredentialResponse" />
  </message>
  <message name="CDSInternalFaultFaultMessage">
    <part name="fault" element="ns1:CDSInternalFault" />
  </message>
  <message name="DelegationFaultFaultMessage">
    <part name="fault" element="ns1:DelegationFault" />
  </message>
  <message name="PermissionDeniedFaultFaultMessage">
    <part name="fault" element="ns1:PermissionDeniedFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="DelegatedCredentialPortType" wsrp:ResourceProperties="tns:DelegatedCredentialResourceProperties">
    <operation name="getDelegatedCredential">
      <input message="tns:GetDelegatedCredentialRequest" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/GetDelegatedCredentialRequest" />
      <output message="tns:GetDelegatedCredentialResponse" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/GetDelegatedCredentialResponse" />
      <fault name="CDSInternalFault" message="tns:CDSInternalFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/CDSInternalFaultFaultMessage" />
      <fault name="DelegationFault" message="tns:DelegationFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/DelegationFaultFaultMessage" />
      <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage" wsa:Action="http://cds.gaards.cagrid.org/CredentialDelegationService/DelegatedCredential/PermissionDeniedFaultFaultMessage" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

