caGrid/projects/data/schema/Data/BulkDataHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:tns="http://cagrid.nci.nih.gov/BulkDataHandler" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://schemas.xmlsoap.org/ws/2004/09/enumeration" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:wns2="http://www.globus.org/transfer" name="BulkDataHandler" targetNamespace="http://cagrid.nci.nih.gov/BulkDataHandler">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration" location="./enumeration.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./WS-ResourceLifetime.wsdl" />
  <import namespace="http://www.globus.org/transfer" location="././transfer_port_type.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsrlt="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:ns2="http://cagrid.nci.nih.gov/BulkDataHandlerReference" xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/09/enumeration" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://www.globus.org/transfer" xmlns:ns5="http://gov.nih.nci.cagrid.enumeration/EnumerationResponseContainer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://cagrid.nci.nih.gov/BulkDataHandler" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="./addressing.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/BulkDataHandlerReference" schemaLocation="./BulkDataHandlerReference.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration" schemaLocation="./enumeration.xsd" />
      <import namespace="http://gov.nih.nci.cagrid.enumeration/EnumerationResponseContainer" schemaLocation="./EnumerationResponseContainer.xsd"/>
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://www.globus.org/transfer" schemaLocation="./transfer.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="./WS-ResourceLifetime.xsd" />
      <element name="CreateEnumerationRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CreateEnumerationResponse">
        <complexType>
          <sequence>
            <element ref="ns5:EnumerationResponseContainer" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetGridFTPURLsRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetGridFTPURLsResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="BulkDataHandlerResourceProperties">
        <complexType>
          <sequence>
            <element ref="wsrlt:CurrentTime" />
            <element ref="wsrlt:TerminationTime" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="CreateEnumerationRequest">
    <part name="parameters" element="tns:CreateEnumerationRequest" />
  </message>
  <message name="CreateEnumerationResponse">
    <part name="parameters" element="tns:CreateEnumerationResponse" />
  </message>
  <message name="GetGridFTPURLsRequest">
    <part name="parameters" element="tns:GetGridFTPURLsRequest" />
  </message>
  <message name="GetGridFTPURLsResponse">
    <part name="parameters" element="tns:GetGridFTPURLsResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="BulkDataHandlerPortType" wsrp:ResourceProperties="tns:BulkDataHandlerResourceProperties">
    <operation name="CreateEnumeration">
      <input message="tns:CreateEnumerationRequest" wsa:Action="http://cagrid.nci.nih.gov/BulkDataHandler/CreateEnumerationRequest" />
      <output message="tns:CreateEnumerationResponse" wsa:Action="http://cagrid.nci.nih.gov/BulkDataHandler/CreateEnumerationResponse" />
    </operation>
    <operation name="GetGridFTPURLs">
      <input message="tns:GetGridFTPURLsRequest" wsa:Action="http://cagrid.nci.nih.gov/BulkDataHandler/GetGridFTPURLsRequest" />
      <output message="tns:GetGridFTPURLsResponse" wsa:Action="http://cagrid.nci.nih.gov/BulkDataHandler/GetGridFTPURLsResponse" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="PullOp">
      <wsdl:input xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns1:PullMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull" />
      <wsdl:output xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns1:PullResponseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/PullResponse" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="RenewOp">
      <wsdl:input xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns1:RenewMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Renew" />
      <wsdl:output xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns1:RenewResponseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/RenewResponse" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetStatusOp">
      <wsdl:input xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns1:GetStatusMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatus" />
      <wsdl:output xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns1:GetStatusResponseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatusResponse" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ReleaseOp">
      <wsdl:input xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns1:ReleaseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release" />
      <wsdl:output xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns1:ReleaseResponseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/ReleaseResponse" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Get">
      <wsdl:input xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns2:EmptyMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Get" />
      <wsdl:output xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" message="wns2:AnyXmlMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/GetResponse" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime" />
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse" />
      <wsdl:fault message="wsrlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
      <wsdl:fault message="wsrlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" />
    </wsdl:operation>
  </portType>
</definitions>

