caGrid/projects/workflow/WorkflowFactoryService/schema/WorkflowFactoryService/WorkflowServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wns2="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns5="http://workflow.cagrid.nci.nih.gov/WorkflowFactoryService/types" xmlns:ns0="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns3="http://types.workflow.cagrid.nci.nih.gov/WorkflowManagementFactoryService" xmlns:ns7="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/types" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns8="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" name="WorkflowServiceImpl" targetNamespace="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./../wsrf/lifetime/WS-ResourceLifetime.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./caGrid.caBIG-1.0_gov.nih.nci.cagrid.metadata.service.xsd" />
      <import namespace="http://workflow.cagrid.nci.nih.gov/WorkflowFactoryService/types" schemaLocation="./WorkflowFactoryServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./caGrid.caBIG-1.0_gov.nih.nci.cagrid.metadata.xsd" />
      <import namespace="http://types.workflow.cagrid.nci.nih.gov/WorkflowManagementFactoryService" schemaLocation="./WorkflowManagementFactoryService.xsd" />
      <import namespace="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/types" schemaLocation="./WorkflowServiceImplTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./ws_2004_03_addressing.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./caGrid.caBIG-1.0_gov.nih.nci.cagrid.metadata.common.xsd" />
      <element name="StartRequest">
        <complexType>
          <sequence>
            <element name="startInputElement">
              <complexType>
                <sequence>
                  <element ref="ns3:StartInputElement" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="StartResponse">
        <complexType>
          <sequence>
            <element ref="ns3:WorkflowStatusElement" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetStatusRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetStatusResponse">
        <complexType>
          <sequence>
            <element ref="ns3:WorkflowStatusElement" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="PauseRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="PauseResponse">
        <complexType>
          <sequence>
            <element ref="ns3:WorkflowStatusElement" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ResumeRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ResumeResponse">
        <complexType>
          <sequence>
            <element ref="ns3:WorkflowStatusElement" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CancelResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetWorkflowOutputRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetWorkflowOutputResponse">
        <complexType>
          <sequence>
            <element ref="ns3:WorkflowOutputElement" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetDetailedStatusRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetDetailedStatusResponse">
        <complexType>
          <sequence>
            <element ref="ns3:DetailedStatusOutputElement" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="WorkflowServiceImplResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns8:CurrentTime" />
            <element ref="ns8:TerminationTime" />
            <element ref="ns3:WorkflowStatusElement" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="StartRequest">
    <part name="parameters" element="tns:StartRequest" />
  </message>
  <message name="StartResponse">
    <part name="parameters" element="tns:StartResponse" />
  </message>
  <message name="GetStatusRequest">
    <part name="parameters" element="tns:GetStatusRequest" />
  </message>
  <message name="GetStatusResponse">
    <part name="parameters" element="tns:GetStatusResponse" />
  </message>
  <message name="PauseRequest">
    <part name="parameters" element="tns:PauseRequest" />
  </message>
  <message name="PauseResponse">
    <part name="parameters" element="tns:PauseResponse" />
  </message>
  <message name="ResumeRequest">
    <part name="parameters" element="tns:ResumeRequest" />
  </message>
  <message name="ResumeResponse">
    <part name="parameters" element="tns:ResumeResponse" />
  </message>
  <message name="CancelRequest">
    <part name="parameters" element="tns:CancelRequest" />
  </message>
  <message name="CancelResponse">
    <part name="parameters" element="tns:CancelResponse" />
  </message>
  <message name="GetWorkflowOutputRequest">
    <part name="parameters" element="tns:GetWorkflowOutputRequest" />
  </message>
  <message name="GetWorkflowOutputResponse">
    <part name="parameters" element="tns:GetWorkflowOutputResponse" />
  </message>
  <message name="GetDetailedStatusRequest">
    <part name="parameters" element="tns:GetDetailedStatusRequest" />
  </message>
  <message name="GetDetailedStatusResponse">
    <part name="parameters" element="tns:GetDetailedStatusResponse" />
  </message>
  <message name="WorkflowExceptionFaultMessage">
    <part name="fault" element="ns5:WorkflowException" />
  </message>
  <message name="StartCalledOnStartedWorkflowFaultMessage">
    <part name="fault" element="ns7:StartCalledOnStartedWorkflow" />
  </message>
  <message name="CannotPauseWorkflowFaultFaultMessage">
    <part name="fault" element="ns7:CannotPauseWorkflowFault" />
  </message>
  <message name="CannotResumeWorkflowFaultFaultMessage">
    <part name="fault" element="ns7:CannotResumeWorkflowFault" />
  </message>
  <message name="CannotCancelWorkflowFaultFaultMessage">
    <part name="fault" element="ns7:CannotCancelWorkflowFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="WorkflowServiceImplPortType" wsrp:ResourceProperties="tns:WorkflowServiceImplResourceProperties">
    <operation name="start">
      <input message="tns:StartRequest" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/StartRequest" />
      <output message="tns:StartResponse" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/StartResponse" />
      <fault name="WorkflowException" message="tns:WorkflowExceptionFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/WorkflowExceptionFaultMessage" />
      <fault name="StartCalledOnStartedWorkflow" message="tns:StartCalledOnStartedWorkflowFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/StartCalledOnStartedWorkflowFaultMessage" />
    </operation>
    <operation name="getStatus">
      <input message="tns:GetStatusRequest" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/GetStatusRequest" />
      <output message="tns:GetStatusResponse" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/GetStatusResponse" />
      <fault name="WorkflowException" message="tns:WorkflowExceptionFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/WorkflowExceptionFaultMessage" />
    </operation>
    <operation name="pause">
      <input message="tns:PauseRequest" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/PauseRequest" />
      <output message="tns:PauseResponse" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/PauseResponse" />
      <fault name="WorkflowException" message="tns:WorkflowExceptionFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/WorkflowExceptionFaultMessage" />
      <fault name="CannotPauseWorkflowFault" message="tns:CannotPauseWorkflowFaultFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/CannotPauseWorkflowFaultFaultMessage" />
    </operation>
    <operation name="resume">
      <input message="tns:ResumeRequest" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/ResumeRequest" />
      <output message="tns:ResumeResponse" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/ResumeResponse" />
      <fault name="WorkflowException" message="tns:WorkflowExceptionFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/WorkflowExceptionFaultMessage" />
      <fault name="CannotResumeWorkflowFault" message="tns:CannotResumeWorkflowFaultFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/CannotResumeWorkflowFaultFaultMessage" />
    </operation>
    <operation name="cancel">
      <input message="tns:CancelRequest" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/CancelRequest" />
      <output message="tns:CancelResponse" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/CancelResponse" />
      <fault name="WorkflowException" message="tns:WorkflowExceptionFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/WorkflowExceptionFaultMessage" />
      <fault name="CannotCancelWorkflowFault" message="tns:CannotCancelWorkflowFaultFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/CannotCancelWorkflowFaultFaultMessage" />
    </operation>
    <operation name="getWorkflowOutput">
      <input message="tns:GetWorkflowOutputRequest" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/GetWorkflowOutputRequest" />
      <output message="tns:GetWorkflowOutputResponse" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/GetWorkflowOutputResponse" />
      <fault name="WorkflowException" message="tns:WorkflowExceptionFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/WorkflowExceptionFaultMessage" />
    </operation>
    <operation name="getDetailedStatus">
      <input message="tns:GetDetailedStatusRequest" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/GetDetailedStatusRequest" />
      <output message="tns:GetDetailedStatusResponse" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/GetDetailedStatusResponse" />
      <fault name="WorkflowException" message="tns:WorkflowExceptionFaultMessage" wsa:Action="http://workflow.cagrid.nci.nih.gov/WorkflowServiceImpl/WorkflowExceptionFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime" />
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse" />
      <wsdl:fault message="wsrlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
      <wsdl:fault message="wsrlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
  </portType>
</definitions>

