caGrid/projects/core/test/resources/schemas/invalidSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://my.org/ns1"
    xmlns:tns="http://my.org/ns1" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">
    
    
    <xs:complexType name="ContainerType">
    	<xs:sequence>
    		<xs:element ref="tns:SomeElementz"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SomeElementType">
    	<xs:sequence/>
   		<xs:attribute name="yadda" type="string"/>
    </xs:complexType>
    
    <xs:element name="SomeElement" type="tns:SomeElementType"/>
</xs:schema>