caGrid/projects/globalModelExchange/test/resources/schema/invalid/duplicateelements.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="gme://duplcateelements" xmlns:tns="gme://duplcateelements" xmlns:a="gme://a" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="A" type="tns:AType"/>
    <xs:element name="A" type="xs:string"/>
    <xs:complexType name="AType">
        <xs:sequence>
            <xs:element name="Foo"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
